//favorites form

.seasons-form__description {
    display: block;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

.seasons-form__season {
    display: inline-flex;
    gap: 2rem;
    margin-right: 8.5rem;
    justify-content: space-between;
    align-items: center;
    &:last-child{
        margin-right: 0;
    }
}

.seasons-form__input {
    cursor: pointer;
    accent-color: black;
    margin: 0;
    width: 1.7rem;
    height: 1.7rem;
}

.seasons-form__label {
    cursor: pointer;
    margin: 0;
    &_active {
        font-weight: 700;
    }
}

//library-card form

.check-form {
    padding: 1.7rem 1.7rem 0.7rem;
    border: 0.3rem solid $color-active;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.check-form__date {
    background-color: $color-active;
    padding: 2rem 2rem 2.5rem;
    margin-bottom: 1.5rem;
    & p:first-of-type {
        @extend %font-add;
        @include font($size: 3rem, $height: 5rem, $spacing: 0.06rem);
        padding-bottom: 2rem;
        @include media-tablet {
            @include font($size: 2rem, $height: 3rem, $spacing: 0);
        }
    }
}

.check-form__input {
    @extend %font-add;
    @include font($size: 3rem, $height: 5rem, $spacing: 0.06rem);
    display: block;
    width: 100%;
    padding: 0.8rem 2rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 2.5rem;
    &:last-child {
        margin-bottom: 0;
    }
    @include media-tablet {
        @include font($size: 2rem, $height: 3rem, $spacing: 0.06rem);
    }
}

.check-form__button {
    display: block;
    margin: 2rem auto;
    &_inactive {
        display: none;
    }
}

.check-form__statistic {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    margin: 0;
    padding: 0;
    padding-bottom: 1rem;
    &_inactive {
        display: none;
    }
}

.check-form__visits,
.check-form__bonuses,
.check-form__books {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    & p, div {
        @include font($size: 1rem, $height: 2rem, $spacing: 0.2px, $transform: capitalize);
        padding: 0;
        margin: 0;
    }
}