%hamburger-line {
    @extend %transition;
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $color-light;
    width: 100%;
    height: 2px;
    left: 0;
}

.header__hamburger {
    display: none;
    position: relative;
    width: 4.5rem;
    height: 2.2rem;
    margin: 0 2rem;
    @include media-laptop {
        display: inline-block;
    }
}

.hamburger__first {
    @extend %hamburger-line;
    top: 0px;
    &_active {
        rotate: 45deg;
        top: 10px;
    }
}

.hamburger__second {
    @extend %hamburger-line;
    top: calc( 50% - 1.5px );
    &_active { 
        display: none;
    }
}

.hamburger__third {
    @extend %hamburger-line;
    bottom: 0;
    &_active {
        rotate: -45deg;
        bottom: 10px;
    }
}