$color-background-dark: #0C0C0E;
$color-text: #000;
$color-light: #FFF;
$color-active: #BB945F;
$color-inactive: #cbcdd3;
$color-overlay: rgba(80, 80, 80, 0.4);

$content-width: 1440px;
$desktop-large-width: 1400px;
$desktop-small-width: 1230px;
$laptop-width: 1024px;
$tablet-width: 600px;