.about {
    background-color: $color-light;
}

.about__wrapper {
    padding: 2rem 2rem 3.5rem;
}

.about__header {
    text-align: center;
    &:after {
        @extend %pseudo-header-underscore;
    }
}

.about__descrioption {
    padding: 4rem 0 2rem;
    text-align: center;
}

.about__galery {
    @include media-laptop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.about__menu {
    display: flex;
    flex-direction: column;
}

.about__slider {
    position: relative;
    height: 59.5rem;
    overflow: hidden;
    @include media-laptop {
        min-width: 45rem;
        height: 58rem;
    }
    @include media-tablet {
        height: 40rem;
        min-width: 30rem;
    }
}

.about__strip {
   @extend %transition;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
    @include media-desktop-large {
       justify-content: space-evenly;
    }
}

.about__image {
    @include media-tablet {
        max-width: 30rem;
    }
}

.about__arrow {
    display: none;
    color: $color-background-dark;
    @include media-laptop {
        display: block;
    }
    & div {
        border: 1px solid;
        width: 1rem;
    }
    & div:first-child {
        rotate: -35deg;
    }
    & div:last-child {
        rotate: 35deg;
        margin-top: 0.4rem;
    }
    &_right {
        rotate: 180deg;
    }
    &_inactive {
        color: $color-inactive;
    }
}

.about__signs {
    display: flex;
    justify-content: center;
}

.about__circle {
    display: block;
    cursor: pointer;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.6rem;
    background-color: $color-background-dark;
    font-size: 1px;
    border: 0.5rem solid $color-light;
    &_active {
        background-color: $color-active
    }
    &_invisible {
        display: none;
    }
}