.about {
    background-color: $color-light;
}

.about__wrapper {
    padding: 2rem 2rem 3.5rem;
}

.about__header {
    text-align: center;
    &:after {
        @extend %pseudo-header-underscore;
    }
}

.about__descrioption {
    padding: 4rem 0 2rem;
    text-align: center;
}

.about__galery {
    @include media-laptop {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

.about__menu {
    display: flex;
    flex-direction: column;
}

.about__images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.5rem;
    gap: 1rem;
    @include media-desktop-large {
       justify-content: space-evenly;
    }
    @include media-laptop {
        margin-bottom: 2rem;
    }
}

.about__left-arrow, 
.about__right-arrow {
    display: none;
    width: 2.4rem;
    height: 2.4rem;
    @include media-laptop {
        display: block;
    }
}

.about__image {
    @include media-desktop-large {
        &:nth-child(2) {
            display: none;
        }
    }
    @include media-laptop {
        &:nth-child(1) {
            display: none;
        }
    }
    @include media-tablet {
        max-width: 30rem;
    }
}

.about__signs {
    display: flex;
    justify-content: center;
}

.about__circle {
    display: block;
    cursor: pointer;
    width: 2.6rem;
    height: 2.6rem;
    border-radius: 1.6rem;
    background-color: $color-background-dark;
    font-size: 1px;
    border: 0.5rem solid $color-light;
    &_active {
        background-color: $color-active
    }
}