.header {
    background-color: $color-background-dark;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.header__logo {
    margin-left: 2rem;
    color: $color-light;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__navigation {
    @extend %transition;
    @include media-laptop {
        position: fixed;
        width: 33.2rem;
        height: 57rem;
        top: 0;
        right: -90rem;
        background-color: $color-background-dark;
        &_active {
            right: 0;
        }
    }
}

.header__profile {
    padding: 0 2rem 0 4rem;
    z-index: 1;
}