.header {
    background-color: $color-background-dark;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.header__logo {
    margin-left: 2rem;
    color: $color-light;
}

.header__content {
    display: flex;
    align-items: center;
}

.header__navigation {
    @include media-laptop {
       display: none; 
    }
}

.header__profile {
    padding: 0 2rem 0 4rem;
}